<ion-view view-title="Temperature">
  <ion-content>

      <div class="item item-divider">
        Ruang Tamu
      </div>
      <ion-item>
        <div class="row">
          <div class="col col-75">Suhu </div>
          <div align="right" class="col">{{suhu1}} &deg;C</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col col-75">Kelembaban </div>
          <div align="right" class="col">{{humidity1}} &deg;C</div>
        </div>
      </ion-item>
      <div class="item item-divider">
        Ruang Keluarga
      </div>
      <ion-item>
        <div class="row">
          <div class="col col-75">Suhu </div>
          <div align="right" class="col">{{suhu2}} &deg;C</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col col-75">Kelembaban </div>
          <div align="right" class="col">{{humidity2}} &deg;C</div>
        </div>
      </ion-item>
      <div class="item item-divider">
        Ruang Makan
      </div>
      <ion-item>
        <div class="row">
          <div class="col col-75">Suhu </div>
          <div align="right" class="col">{{suhu3}} &deg;C</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col col-75">Kelembaban </div>
          <div align="right" class="col">{{humidity3}} &deg;C</div>
        </div>
      </ion-item>
          <div class="item item-divider">
        Kamar Tidur
      </div>
      <ion-item>
        <div class="row">
          <div class="col col-75">Suhu </div>
          <div align="right" class="col">{{suhu4}} &deg;C</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col col-75">Kelembaban </div>
          <div align="right" class="col">{{humidity4}} &deg;C</div>
        </div>
      </ion-item>

  </ion-content>
</ion-view>
